<form [formGroup]="moneyExchange">
  <div class="form-group">
    <label class="color-little-dark f-roboto-reg" for="soles">Monto a cambiar</label>
    <input
      class="form-control form-control-lg"
      formControlName="soles"
      id="soles"
      type="tel"
      placeholder="Ingrese monto en soles"
      [ngClass]="{
       'is-invalid': formControlSoles.errors
      }"
    >
    <small *ngIf="formControlSoles.errors" class="error-msj">
      Ingrese solo valores numéricos, para decimales separe con punto. Ejm 2.34</small>
  </div>

  <div class="form-group mb-0">
    <label class="color-little-dark f-roboto-reg" for="dollar">Monto en dólares</label>
    <input
      formControlName="dollar"
      type="tel"
      class="form-control form-control-lg"
      id="dollar"
      placeholder="$ 0.00"
      currencyMask
      [options]="{ prefix: '$ ', align: 'left' }"
    >
  </div>
</form>
