@import "assets/styles/styles";

body {
  background-color: $gray!important;
}

.f-roboto-reg {
  font-family: 'robotoregular', sans-serif;
}

.max-width {
  max-width: 1200px;
}

.color-dark-turq {
  color: $dark-turq;
}

.color-black {
  color: $black;
}

.color-red {
  color: $red;
}
